body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #003366;
    overflow: hidden;
    color: white;
    padding: 14px 20px;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
}

.main-header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #003366;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.search-container {
    background-color: #f3f3f3;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px 400px 50px;


}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"],
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

input[type="submit"]:hover,
button:hover {
    background-color: #45a049;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
}

.column {
    padding: 0 5px;
    flex: 0 0 20%;
}

.center-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.center-buttons button {
    margin: 0 10px;
}

/* création patient */
.create_patient {
    margin: 20px 400px 50px;
}

.patient {
    background-image: url(../image/image_back.webp);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

fieldset {
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

fieldset input,
fieldset select,
fieldset textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

fieldset label {
    display: block;
    margin-bottom: 5px;
}

.bar {
    width: 100%;
    height: 4vh;
    background-color: #003366;
}

.buttons-patient {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3%;
}

.partie {
    display: none;
}

.visible {
    display: block;
}